body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*********************************************
**********************************************
*********************************************/
/*Navegación*/
header{
 
    /*width-ancho /// height-alto*/
    width:100%;
    height: 60px;
}

/*aCCEDER A NAV A TRAVES DE HEADER*/
header nav{  
   display: flex; 
   /*Justificar hacia la derecha*/
   justify-content: flex-end;
}
header nav .nav-right-section { 
    

/*Width= ancho /// height=alto y el valor auto=altura 
automática*/
width: 250px;
height: auto;
/*Eliminar puntitos*/
list-style: none;
display: flex;
/*Justificar al centro // de acorde al elemento*/
justify-content: center;
/*Centrando verticalmente*/
align-items: center;
}

a{
    text-decoration: none;
}
/*Anclas dentro del nav para agregar espacio*/
nav .nav-right-section a{
    /*Color del texto*/
    color: rgba(0,0,0,.87);
    margin-right: 20px;
}

/*Icono del Mneú*/
nav .nav-right-section .menu
{
    /*Ponemos imagen /vector*/
    background-image:url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    /*Que la imagen esté contenida en el elementomás grande*/
    background-size:contain ;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    
}
/*Imagen del usuario*/
nav .nav-right-section img{
/*Redondeo de bordes*/
border-radius: 100%;
width: 35px;
margin-left: 20px;
}

/*******************************************************
**********************************************************/
/*Main*/
main{
    margin-top:150px;
  
    /*Centrar elementos*/
    text-align:center;
}

main .main-logo{
     width: 530px;
    margin-bottom: 40px;
    /*Vertical //Horizontal*/
    margin: 0 auto;
}

main .main-logo img
{
    height: 120px;
}

main .main-input{
    
    width:530px;
    margin: 0 auto;
    margin-bottom:30px; 
}

main .main-input-container{
    width: 525px;
    border: 1px solid  #dfe1e5;
    border-radius: 20px;

}

main .main-input input{
    height: 35px;
    border: none;
    /*outline-quitar contorno al accionar*/
    outline:none;
    width: 450px;
}

main .main-input-container:hover{
    border-color: #dfe1e500;
    /* 0 -- desplazamiento horizontal //
       1px--desplazamiento vertical//
       6px---desenfoque
       0--- expansión de la sombra//
       */
    box-shadow:0 1px 6px 0 #20212447;
    
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size:contain;
    background-position:center;
    /*Propiedad para que no se repita*/
    background-repeat: no-repeat;
    width: 15px;
    height:15px;
    padding-left:10px; 
    margin-right:10px;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size:contain;
    background-position:center;
    /*Propiedad para que no se repita*/
    /*background-repeat: no-repeat;*/
    width: 14px;
    height:14px;
    padding-left:10px; 
    margin-right:10px;
}

main .main-input .cam-icon{
    background-image:url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 18px;
    height: 18px;
    padding-left:10px;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat ;
    }
    

main .main-buttons{
    width: 530px;
    margin: auto;

}
main .main-buttons div{
    
    /*inline// inline black los pone en una sola linea*/
    display:inline-block;

}


main .main-buttons button{
    border: 0;
    height: 35px;
    background-color:#f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius:4px;
    padding: 0 15px;
    margin-right: 15px; 
    border: 1px solid #f8f9fa;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 1px 0 #20212447;
    border: 1px solid #dadce0;
    color:#202124;
}

/**Footer**/

.footer-location{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.left-menu a, .right-menu a{
    text-decoration: none;
    color: #6f6f6f;
    padding: 0 20px 0 0;

}

.left-menu a:hover, 
.right-menu a:hover 
{
    text-decoration: underline;

}



    

